apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: postgres-credentials
  namespace: threads
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcpsm-secret-store
  target:
    name: postgres-password
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: postgres-password
