apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: threads

resources:
  - namespace.yaml
  - postgres.yaml
  - ml-service.yaml
  - nextjs.yaml

secretGenerator:
  - name: postgres-password
    literals:
      - password=CHANGE_ME_IN_OVERLAY
  - name: gcr-json-key
    type: kubernetes.io/dockerconfigjson
    files:
      - .dockerconfigjson=gcr-credentials.json
