apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: threads

resources:
  - namespace.yaml
  - postgres.yaml
  - ml-service.yaml
  - nextjs.yaml
  - cloudflared.yaml

secretGenerator:
  - name: postgres-password
    literals:
      - password=CHANGE_ME_IN_OVERLAY
  # gcr-json-key is managed via External Secrets Operator
  # See terraform/modules/argocd-image-updater for GCR credentials
